/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

#search {
    height: 30px;
    margin-bottom: 20px;
    }

form.geocode input[type=text] {
    font-size: .85em;
    color: #333;
    height: 18px;
    width: 150px;/*Originally 200px*/
    display: block;
    float: left;
    padding: 5px;
    margin: 0;
    border: 1px solid  #ccc;
    }
    
form.geocode input[type=submit] {
    background: url(http://www.basketgreens.com/v1.0_img/search_blue.png) no-repeat -0px -0px; /*#2da0ef*/
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    float: left;
    cursor: pointer;
    }
}
    
    form.geocode input[type=submit]:hover { background-color:#333; }
	form.geocode input[type=submit]:active { background-color:#d6d6d6; }
	
form.geocode.loading input[type=submit] {
    background: url(http://www.basketgreens.com/v1.0_img/ajax-loader.gif) no-repeat 50% 50%;
    border-color:#bbb;
    background-color:#ddd;
    box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
    -moz-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
    -webkit-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
    }
    
#geocode-error {
    display: none;
    float: left;
    position: relative;
    top: 2em; /*1em*/
    margin-left: -7px; /*20px*/
    color: #e34f4f;
    font-size: 1em;
    line-height: 0em;
    }
    

@-webkit-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
@-ms-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
@-o-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }

/* Index.html Styles Ported*/

#prompt {
  position:absolute;
  top: 40%;
  left: 50%;
  width: 225px;/*158px*/
  height: 50px;
  margin-left: -128px;/*-80px*/
  z-index:1000;
}

#prompt ul {
  list-style:none;
  margin:0;padding:0;
  }
  #prompt #geolocate, #search {

    background:#FFF;
    color:#000;
    display:block;
    margin:0;padding:0;
    border:0px solid #BBB;
    border-bottom-width:0;
    min-width:138px;
    padding:10px;
    text-decoration:none;

    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font: bold 14px/1.5 Arial, Helvetica, sans-serif;
    }
  #prompt #geolocate:hover { background:#c4e6f9; }
  #prompt #geolocate {
    -webkit-border-radius:3px 3px 0 0;
            border-radius:3px 3px 0 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    z-index: 1001;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-align:left;
    padding: 15px;
    cursor: pointer;
  }
  #prompt #search {
    border-bottom-width:1px;
    -webkit-border-radius:0 0 3px 3px;
            border-radius:0 0 3px 3px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
  }

#search input[type="text"] {
  background: none;
  border: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  float:left;
}

#search input:focus {
  outline:none;
}

#container {
  position: relative;
  height: 400px;
}

#map {
  background:#fff;
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.leaflet-popup-content-wrapper {
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;
}

#underline {
  border-bottom: 1px dashed #999;
  display: inline;
  cursor:pointer;
}

/* Bootstrap Styles Ported*/

.control-group.error input, .control-group.error select, .control-group.error textarea {
border-color: #b94a48;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea {
color: #b94a48;
}
